.title-font {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

font-serif {
    font-family: 'Libre Baskerville', serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ea580c; /* UIUC Orange-ish */
}

nav {
    backdrop-filter: blur(10px);
}